*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#CFD0D1;
}

header{
    background-color:white;
}

/* INTESTAZIONE */
#logo{
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    width: 80px;
    line-height: 80px;
    vertical-align: middle;
}

#toboo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 42px;
    font-weight: 700;
}

/* CORPO CENTRALE */
#container{
    background-color: white;
    width: 60%;
    margin:50px auto;
    padding: 20px;
}

section{
    margin-bottom: 30px;
}

/* BUTTON */
#button{
    padding-bottom: 10px;    
    border-bottom: 1px solid #C6CCD1;
}

#add-button{
    background-color: #14AAF5;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid #14AAF5;
}

#add-section{
    color: #C6CCD1;
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid #C6CCD1;
}

/* CORPO CENTRALE */
h2{
    padding-bottom: 10px;
}

div{
    padding-bottom: 20px;
}

.back-blue{
    font-size: 10px;
    color: white;
    background-color: #14AAF5;
    border-radius: 10px;
    padding: 5px 10px;
    border: 1px solid #14AAF5;
}

#back-viola{
    font-size: 10px;
    color: white;
    background-color: #AB5DE6;
    border-radius: 10px;
    padding: 5px 10px;
    border: 1px solid #AB5DE6;
}

#back-green{
    font-size: 10px;
    color: white;
    background-color: #2CC6AB;
    border-radius: 10px;
    padding: 5px 10px;
    border: 1px solid #2CC6AB;
}

#back-orange{
    font-size: 10px;
    color: white;
    background-color: #FF9B00;
    border-radius: 10px;
    padding: 5px 10px;
    border: 1px solid #FF9B00;
}

#back-pink{
    font-size: 10px;
    color: white;
    background-color:#EC4A9D;
    border-radius: 10px;
    padding: 5px 10px;
    border: 1px solid #EC4A9D;
}

#back-green2{
    font-size: 10px;
    color: white;
    background-color: #A3D116;
    border-radius: 10px;
    padding: 5px 10px;
    border: 1px solid #A3D116    ;
}

.spunta{
    border: 2px solid #3CCAB1;
    color: #3CCAB1;
    padding: 2px 4px;
    border-radius: 50%;
}

.simbolo-x{
    border: 2px solid red;
    color: red;
    padding: 1px 6px;
    border-radius: 50%;
}

